* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    font-family: Roboto, sans-serif;
}


:root {
    --color-primario: rgba(0, 102, 159, 1)
}

body {
    width: 100%;
    overflow-x: hidden
}

header {
    background-color: #1cd1b0;
    width: 100%;
    font-size: 1.2vw;
    font-weight: 500;
    font-size: 14px;
}

.title-pag {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--color-primario);
    font-size: 3vw;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}

.container-cards {
    max-width: 1024px;
    background-color: aqua;
}

footer {
    height: 51px;
    background-color: var(--color-primario);
    color: #ffff;
}

main {
    display: flex;
    flex-direction: column;
    margin-inline: 3vw;
    overflow: visible;
    height: 100vh;
}

.card {
    background-color: blanchedalmond;
}